body
    font-family: 'DM Sans', sans-serief
    margin: 0
    text-align: center
    .block-hero
        padding: 0 300px 0 300px
    h1
        font-size: 50px
        margin: 0
        padding-bottom: 5px
        text-align: center

    h2
        font-size: 20px
        margin: 15px 0px
        font-weight: 500
        padding-bottom: 20px
        text-align: center
        color: rgb(100,100,100)
    a.round
        font-size: 23px
        font-weight: 700
        border-style: solid
        border-radius: 180px
        padding: 10px 20px
        i
            padding-left: 10px
    a.round:hover
        background-color: black
        color: white
    
body, html
    height: 100%
    
@import hero
@import overview
@import morelinks
@import footer